* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #eee;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header {
  background: #7dc2af;
  color: white;
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}

.header__title {
  font-size: 4.2rem;
  margin-bottom: 0.4rem;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: white;
}

h3 {
  padding: 4rem 0 2rem 0;
}

.quote-container {
  width: auto;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px 30px 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  height: 3.5rem;
  min-width: 12rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #7dc2af;
  outline: none;
  padding: 1rem;
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.25);
}

button:hover {
  filter: brightness(110%);
  color: #000;
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color: #000;
}

.fa-twitter {
  font-size: 1.5rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}
